* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #f1f1f1;
  /* background-color: #f4db71; */
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.content {
  padding: 1rem;
  background-color: #fff;
  width: 350px;
  border-radius: 8px;
}

.heading {
  color: #555;
  font-size: 14px;
}

.subheading {
  font-size: 12px;
  color: #b0b0b0;
  margin-top: 5px;
}

.upload-wrapper {
  border: 1px dashed #ddd;
  border-radius: 4px;
  padding: 1rem;
  display: grid;
  place-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.upload-wrapper:hover {
  background-color: #f9f9f9;
}

.upload-input {
  display: none;
}

.upload-icon-wrapper {
  border: 1px solid #a2a2a2;
  padding: 2px;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  display: grid;
  place-items: center;
}

.upload-icon {
  color: #a2a2a2;
  font-size: 11px;
}

.upload-label {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #555;
}

.list {
  margin-top: 1rem;
}

.item {
  border: 1px solid #f2f2f2;
  padding: 8px 1rem;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 7px;
  cursor: pointer;
}

.item-main {
  display: grid;
  grid-template-columns: 20px 1fr 50px;
  gap: 10px;
  align-items: center;
}

.item-attachment {
  font-size: 20px;
}

.item-label {
  font-size: 12px;
  color: #b0b0b0;
}

.progressbar-wrapper {
  background-color: #f2f2f2;
  border-radius: 50px;
}

.progressbar {
  margin-top: 10px;
  height: 7px;
  background-color: #3f57ff;
  border-radius: 50px;
}

.progress-result {
  text-align: center;
}

.progress-value {
  font-size: 12px;
  color: #b0b0b0;
}

.progress-70 {
  width: 70%;
}

.btn {
  outline: none;
  border: none;
  padding: 8px 1rem;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}
.btn-cancel {
  border: 1px solid #d2d2d2;
  background-color: #fff;
  color: #888;
}

.btn-continue {
  background-color: #3f57ff;
  color: #fff;
}

.btn-continue:hover {
  background-color: #384ce3;
}

.btn-cancel:hover {
  border: 1px solid #b1abab;
}

.action-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}
